<a href="https://colab.research.google.com/github/kelvinhoward/code_snippets/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Variables


---

*   Alternatives to global values

Alternatives to global values
[Source](https://medium.com/better-programming/alternatives-to-using-globals-in-python-a3b2a7d5411b)

# Dataframe


---



*   Update Index after sorting df source
*   Check to see if value exists
*   Rearrange Columns in Datafield
*   Add columns of different length
*   Remove all values present in other list
*   Create df using list of lists

**Update index after sorting df**
[source](https://stackoverflow.com/questions/33165734/update-index-after-sorting-data-frame)

In [ ]:
import numpy as np
import pandas as pd
x = np.tile(np.arange(3),3)
y = np.repeat(np.arange(3),3)
df = pd.DataFrame({"x": x, "y": y})
df2 = df.sort_values(by='x')
print(df2)
df2 = df.reset_index(drop=True)
print(df2)

   x  y
0  0  0
3  0  1
6  0  2
1  1  0
4  1  1
7  1  2
2  2  0
5  2  1
8  2  2
   x  y
0  0  0
1  1  0
2  2  0
3  0  1
4  1  1
5  2  1
6  0  2
7  1  2
8  2  2

**Check to see if value exists**
[source](https://www.kite.com/python/answers/how-to-check-if-a-value-exists-in-a-pandas-dataframe-in-python
)


```
"value" in df.column
3 in df.column
```

**Rearrange Columns in Datafield**

[source](https://www.kite.com/python/answers/how-to-reorder-columns-in-a-pandas-dataframe-in-python)

```
column_names = ["C", "A", "B"]
df = df.reindex(columns=column_names)
```

**Add columns of different length**

[source](https://www.iditect.com/how-to/50502288.html)

In [ ]:
import pandas as pd

a = [0,1,2,3]
b = [0,1,2,3,4,5,6,7,8,9]
c = [0,1]

#Find the Length of all list
la,lb,lc = len(a),len(b),len(c)
# now find the max
max_len = max(la,lb,lc)

#Resize all according to the determined max length 
if not max_len == la:
  a.extend(['']*(max_len-la))
if not max_len == lb:
  b.extend(['']*(max_len-lb))
if not max_len == lc:
  c.extend(['']*(max_len-lc))

#Now the all list is same length and create dataframe
pd.DataFrame({'A':a,'B':b,'C':c})

   A  B  C
0  0  0  0
1  1  1  1
2  2  2
3  3  3
4     4
5     5
6     6
7     7
8     8
9     9

**Remove all values present in other list**

[source](https://www.geeksforgeeks.org/python-remove-all-values-from-a-list-present-in-other-list/)

In [ ]:
# Python 3 code to demonstrate 
# to remove elements present in other list
# using list comprehension 
 
# initializing list 
test_list = [1, 3, 4, 6, 7]
 
# initializing remove list 
remove_list = [3, 6]
 
# printing original list 
print ("The original list is : " + str(test_list))
 
# printing remove list 
print ("The original list is : " + str(remove_list))
 
# using list comprehension to perform task
res = [i for i in test_list if i not in remove_list]
 
# printing result
print ("The list after performing remove operation is : " + str(res))

The original list is : [1, 3, 4, 6, 7]
The original list is : [3, 6]
The list after performing remove operation is : [1, 4, 7]

**Create df using list of lists**
[source](https://www.geeksforgeeks.org/creating-pandas-dataframe-using-list-of-lists/)

In [ ]:
# Import pandas library  
import pandas as pd  
  
# initialize list of lists  
data = [['Geeks', 10], ['for', 15], ['geeks', 20]]  
  
# Create the pandas DataFrame  
df = pd.DataFrame(data, columns = ['Name', 'Age'])  
  
# print dataframe.  
print(df )

    Name  Age
0  Geeks   10
1    for   15
2  geeks   20

In [ ]:
# Import pandas library  
import pandas as pd  
  
# initialize list of lists  
data = [[1, 5, 10], [2, 6, 9], [3, 7, 8]]  
  
# Create the pandas DataFrame  
df = pd.DataFrame(data) 
  
# specifying cloumn names 
df.columns = ['Col_1', 'Col_2', 'Col_3'] 
  
# print dataframe.  
print(df, "\n") 
  
# transpose of dataframe 
df = df.transpose() 
print("Transpose of above dataframe is-\n", df)

   Col_1  Col_2  Col_3
0      1      5     10
1      2      6      9
2      3      7      8

Transpose of above dataframe is-
         0  1  2
Col_1   1  2  3
Col_2   5  6  7
Col_3  10  9  8

**Apply a function to each row/column in df** [Source](https://thispointer.com/pandas-apply-apply-a-function-to-each-row-column-in-dataframe/)

In [ ]:
# List of Tuples
matrix = [(222, 34, 23),
         (333, 31, 11),
         (444, 16, 21),
         (555, 32, 22),
         (666, 33, 27),
         (777, 35, 11)
         ]
# Create a DataFrame object
dfObj = pd.DataFrame(matrix, columns=list('abc'))

# Multiply given value by 2 and returns
def doubleData(x):
   return x * 2

# Apply a user defined function to each column by doubling each value in each column
modDfObj = dfObj.apply(doubleData)
print("Modified Dataframe by applying a user defined function to each column in Dataframe :")
print(modDfObj)

# Apply a user defined function to each row by doubling each value in each column
modDfObj = dfObj.apply(doubleData, axis=1)

# Returns x*y
def multiplyData(x, y):
   return x * y

# Apply a user defined function to each column that will multiply each value in each column by given number
modDfObj = dfObj.apply(multiplyData, args=[4])
print("Modified Dataframe by applying a user defined function (with arguments) to each column in Dataframe :")
print(modDfObj)

# Apply a user defined function to each row by doubling each value in each column
modDfObj = dfObj.apply(multiplyData, axis=1, args=[3])
print(modDfObj)

Modified Dataframe by applying a user defined function to each column in Dataframe :
      a   b   c
0   444  68  46
1   666  62  22
2   888  32  42
3  1110  64  44
4  1332  66  54
5  1554  70  22
Modified Dataframe by applying a user defined function (with arguments) to each column in Dataframe :
      a    b    c
0   888  136   92
1  1332  124   44
2  1776   64   84
3  2220  128   88
4  2664  132  108
5  3108  140   44
      a    b   c
0   666  102  69
1   999   93  33
2  1332   48  63
3  1665   96  66
4  1998   99  81
5  2331  105  33

# Python EDU/Class


---



*   [python-course.eu](https://python-course.eu)
*   [Scalable Django App with DigitalOcean](https://www.digitalocean.com/community/tutorials/how-to-set-up-a-scalable-django-app-with-digitalocean-managed-databases-and-spaces)
*   [Django Youtube Course - Corey Shafer](https://www.youtube.com/watch?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&v=aHC3uTkT9r8&feature=youtu.be)

# Date Time

*   [Formatting guidelines](https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date)
*   List item